body {
    font-family: sans-serif;
    width: 100%;
    color: #666;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

input {
    border-radius: 8px;
    border: solid 1px;
    padding: 6px 16px; /* 上下、左右 */
}

button {
    border-radius: 8px;
    border: none;
    padding: 4px 16px; /* 上下、左右 */
    margin: 0px 2px; /* 上下、左右 */
}

button:hover {
    /* 色を変えたい*/
    background-color: #79a8a9;
    /* 文字 */
    color: #fff;
    /* 押したくなるような外観の変更 */
    cursor: pointer;
}

.input-area {
    background-color: #c6e5d9;
    width: calc(100%-20px);
    height: 80px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.todo-area {
    border: 2px solid #aacfd0;
    width: calc(100%-20px);
    min-height: 200px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    overflow: hidden;
}

.complete-area {
    border: 2px solid #aacfd0;
    width: 400px;
    min-height: 200px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    background-color: #c9dede;
}

h1 {
    text-align: center;
    margin-top: 0;
    font-weight: bold;
    font-size: 18px;
}

.list-row {
    display: flex;
    align-items: center;
}

.todo-item {
    margin: 6px;
}

li {
    list-style: none;
}

span {
    font: 10px;
    margin: 3px;
}
